<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h1>Create new Restaurant</h1>
      <hr class="text-muted">
      <%= simple_form_for [@restaurant] do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category, collection: Restaurant::CATEGORIES %>
        <%= f.submit "Add Restaurant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
