<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card card-body my-2">
        <div class="d-flex align-items-center">
          <h3><%= @restaurant.name %></h3>
          <h6 class="mx-3 text-muted"><%= @restaurant.category.capitalize %></h6>
        </div>
        <span class="text-muted"> <%= @restaurant.address %></span>
        <span class="mt-5">
          <%= link_to "All Restaurants" , restaurants_path, class: "btn btn-primary btn-sm" %>
          <%= link_to "Add Review" , new_restaurant_review_path(@restaurant), class: "btn btn-success btn-sm" %>
        </span>
        <h3 class="mt-5">Reviews</h3>
        <hr>
        <span>
          <% @reviews.each do |review| %>
            <div class="card card-body my-2 bg-light">
              <p class="text-muted"><%= review.content %> </p>
              <span>
              <% review.rating.times do%>
                <i class="fa-solid fa-star text-warning"></i>
              <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
